* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  width: 100%;
}

.app{
  width: 100%;
  display: flex;
}

html{
  font-family: sans-serif;
}

.form{
  display: flex;
}
.form>*{
  margin: 10px;
}

.form-control{
  padding: 5px;
  border-radius: 5px;
}

.btn{
  background-color: #111D4A;
  color: white;
  padding: 5px;
  border-width: 0px;
  border-radius: 5px;
}

.btn:hover{
  background-color: #8380B6;
}

.todo-list{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.todo{
  border-radius: 10px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #C2CAE8;
}

.todo-text{
  padding: 10px;
}

.todo-detalles{
  display: flex;
}

.todo-time{
  padding: 10px;
  background-color: #8789C0;
  display: flex;
  flex-wrap: wrap;
}

.todo-acciones{
  padding: 10px;
  border-radius: 0 10px 10px 0;
}

.pomodoro{
  height: 20px;
  width: 20px;
  margin: 5px;
  background-color: red;
  border-radius: 50%;
}

.content{
  display: flex;
}

.list-view{
  width: 70%;
}

.list-detail{
  width: 30%;
}